* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "helvetica", sans-serif;
  box-sizing: border-box;
}

header {
  color: white;
  background-color: black;
}

.header {
  padding-left: 25px;
}

.smalCards {
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.text {
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

#footer1 {
  display: flex;
  flex-direction: column;
}

#footer2 {
  display: flex;
  justify-content: space-around;
}

#loanSum {
  display: none;
}

.bigCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#image {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#image img {
  width: 100%;
}

.buy {
  background: lightblue;
}
